<!DOCTYPE html>
<html>
  <head>
    <title>PANEL - DBN</title>
    <link rel="icon" type="image/png" sizes="32x32" href="https://cdn.discordapp.com/attachments/437556497380147212/437992357393203202/Guild.png?width=473&height=473">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width">
    <meta property="og:type" content="profile">
    <meta property="og:title" content="Discord Bots Nation">
    <meta property="og:url" content="https://discordbots.glitch.me">
    <meta property="og:image" content="https://cdn.discordapp.com/attachments/437556497380147212/437992357393203202/Guild.png?width=473&height=473">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  </head>
  <body style="background-color:#3C434A;">
    <!--
    <script>
      if ("https://discordbots.glitch.me/api/discord/user/?code=" + req.query.code)
    </script>
-->
<a href="https://discordbots.glitch.me/">
  <img src="https://cdn.discordapp.com/attachments/437556497380147212/437992357393203202/Guild.png?width=473&height=473" alt="Discord Bots Nation Logo" class="center"></a>
  <center>
    <font color= "white"><h1>
    Discord Bots Nation Admin Panel
    </h1>
    <p>
      Adjust numerous settings and bots within this site using administrative features. </p>

    <style>
    .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
}
  </style>
  
    <style>
      .vertical-menu {
    width: 200px; /* Set a width if you like */
}

.vertical-menu a {
    background-color: #eee; /* Grey background color */
    color: black; /* Black text color */
    display: block; /* Make the links appear below each other */
    padding: 12px; /* Add some padding */
    text-decoration: none; /* Remove underline from links */
}

.vertical-menu a:hover {
    background-color: #ccc; /* Dark grey background on mouse-over */
}

.vertical-menu a.active {
    background-color: #4CAF50; /* Add a green color to the "active/current" link */
    color: white;

    </style>
  <!--  
    <div class="vertical-menu">
  <a href="/bots">Bots</a>
  <a href="/queue?code=<%=req.query.code%>">Queue</a>
  <a href="/users">Bot Developers</a>
    </div>
    -->
    

    <h1>
          What can you do with admin panel?
      </h1>
      <div style="width:500px;height:120px;" id = "rcorners1">
    <style>
#rcorners1 {
    border-radius: 25px;
    border: 2px solid #fff;
    padding: 20px; 
    width: 200px;
    height: 150px; 
}
#rcorners2 {
    border-radius: 25px;
    border: 2px solid #fff;
    padding: 20px; 
    width: 200px;
    height: 150px; 
}
#rcorners3 {
    border-radius: 25px;
    border: 2px solid #fff;
    padding: 20px; 
    width: 200px;
    height: 150px; 
}

      </style>  
        <p> <strong>
          This panel allows Moderators, Developers and Admins to administrate lots of functions from the Discord just from the website.
              </strong>
        </p>
  </div>
          <br>
     <h1>
      Why is this made?
      </h1>
<div style="width:500px;height:120px;" id = "rcorners2">

        <p>
          <strong>
          This admin panel is made for admins, mods and devs to help them in thier jobs in the discord as well as to provide easy access to everything in the server just from the website.
    </strong>
  </p>
        </div>
   <h1>
      How to use this panel?
      </h1>
  <div style="width:500px;height:120px;" id = "rcorners3">
        <p>
          <strong>
          To use this panel click on the side navigation buttons to access each page of the admin panel. Thanks and happy moderating. 😉
    </strong>
          <br><br>
<style>
div {
    margin-bottom: 15px;
    padding: 4px 12px;
}
.info {
    background-color: #e7f3fe;
    border-left: 6px solid #2196F3;
    color: black;
}
</style>
<div class="info">
  <p><strong>Note!</strong> If you can't find the navigation buttons, follow the hand to the left of this note then head up straight.</p>
</div>
  </p>


    
  </div>
    <br>
         </font><br>
    <style>
#mySidenav a {
    position: absolute;
    left: -80px;
    transition: 0.3s;
    padding: 15px;
    width: 100px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    border-radius: 0 5px 5px 0;
}

#mySidenav a:hover {
    left: 0;
}

#stats {
    top: 20px;
    background-color: #4CAF50;
}

#queue {
    top: 80px;
    background-color: #2196F3;
}

#users {
    top: 140px;
    background-color: #f44336;
}

#botdevs {
    top: 200px;
    background-color: #555
}
</style>

<div id="mySidenav" class="sidenav">
  <a href="/queue/login" id="queue">Queue of the Bots</a>
  <a href="/users" id="users">Users in the server</a>
  <a href="/botdevs" id="botdevs">Bot Devs in the Server</a>
</div>

<div style="margin-left:80px;">
</div>
    
    </center>
       <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <i class="fa fa-hand-o-up" style="font-size:80px;color:white" ></i>
  </body>
</html>