<!DOCTYPE html>
<html>
  <head>
    <title>DiscordBots</title>
    <link rel="icon" type="image/png" sizes="32x32" href="https://media.discordapp.net/attachments/437196381472555008/437201560456658945/Dbots2.png?width=473&height=473">
    <!--<link rel="stylesheet" type="text/css" href="./style.css">
    <link rel="stylesheet" type="text/css" href="./navbar.css">
    -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://discordbots.glitch.me/april">
    <style>
      body{
        background: #7289DA;
      }
    </style>
  </head>
  <body>
    <div class="container">
    
      <nav class="navbar navbar-expand-sm bg-pink navbar-light fixed-top ">
  <span id="title"><img src="https://media.discordapp.net/attachments/437196381472555008/437201560456658945/Dbots2.png?width=473&height=473" width="60px" height="60px" />&nbsp;</span>
  <a class="navbar-brand" href="/">Discord Bots Nation</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

    </ul>
  </div>
      </nav>
      
      
      
<br><br><br><br>      
    <div class="alert alert-success" role="alert">
      <p>Thank you for submitting!</p>
      <p>Please be patient! Your bot has been queued! Now wait for the response! <a href="/">Back to home</a></p>
      </div>
    </div>
    
</body>
</html>