<html>
	<head>
	  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	  <link rel="stylesheet" type="text/css" href="../newbot.css">
	  <link rel="stylesheet" href="https://discordbots.glitch.me/april">
	  <style>
		.center {
		  text-align: center;
		}
      body{
        background: #FFC0CB;
      }
	  </style>
	  <title>
		agree
	  </title>
	  <body class="container center">
		<h1>
		  You must agree these terms before submitting a bot on <b>Discord Bots Nation!</b>
		</h1>
		<div>
		  <p>
			1. No leakable bots!
		  </p>
		  <p>
			2. Without spam/raid bots
		  </p>
		  <p>
			3. Without bots for promoting servers!
		  </p>
		  <p>
			4. Without name/status with NSFW content.
		  </p>
		  <p>
			5. NSFW content will be ONLY in NSFW channels.
		  </p>
		  <p>
			6. If your bot has a problem(s) or bug(s), remove it and add it again when is fixed!
		  </p>
		  <p>
			7. The invited will be no access!
		  </p>
		  <p>
			8. We are not responsable if your bot isn't working!
		  </p>
		  <p>
			9. Staff can modify your bot if they found, your bot violating these terms
		  </p>
		</div>
		<a href="/newbot">
		  I AGREE THE TERMS OF SERVICE
		</a>
	  </body>
	</head>
  </html>